* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {


    width: 100%;



    background-color: #fff;
    /* background: url('../images/home-bg.png');
    background-repeat: no-repeat;
    background-position: top center; */
    /* background-image: url('../images/game-bg.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.dashboard_screen,
.home_page_section {
    background: url('../images/inner-bg.png');
    background-repeat: no-repeat;
    background-position: top center;
}


@font-face {
    font-family: Swiss721LightBT;
    src: url('../fonts/Swiss721LightBT.ttf');
}

@font-face {
    font-family: Swiss721MediumBT;
    src: url('../fonts/Swiss721MediumBT.ttf');
}

@font-face {
    font-family: Swiss721CondensedBT;
    src: url('../fonts/Swiss721CondensedBT.ttf');
}

@font-face {
    font-family: FontsFree-Net-Swiss721BT-Roman;
    src: url('../fonts/FontsFree-Net-Swiss721BT-Roman.ttf');
}

@font-face {
    font-family: Swiss721BoldBT;
    src: url('../fonts/Swiss721BoldBT.ttf');
}

@font-face {
    font-family: SWZ721T;
    src: url('../fonts/SWZ721T.TTF');
}

@font-face {
    font-family: GothamBlack;
    src: url('../fonts/Gotham/GothamBlack.otf');
}

@font-face {
    font-family: GothamBold;
    src: url('../fonts/Gotham/GothamBold.otf');
}

@font-face {
    font-family: GothamBook;
    src: url('../fonts/Gotham/GothamBook.otf');
}

@font-face {
    font-family: GothamExtraLight;
    src: url('../fonts/Gotham/GothamExtraLight.otf');
}

@font-face {
    font-family: GothamMedium;
    src: url('../fonts/Gotham/GothamMedium.otf');
}

@font-face {
    font-family: GothamRegular;
    src: url('../fonts/Gotham/GothamRegular.otf');
}

@font-face {
    font-family: Poppins-Black;
    src: url('../fonts/Poppins/Poppins-Black.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Light;
    src: url('../fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: EuclidFlex-Bold;
    src: url('../fonts/EuclidFlex-Bold/EuclidFlex-Bold.ttf');
}

@font-face {
    font-family: EuclidFlex-Light;
    src: url('../fonts/EuclidFlex-Bold/EuclidFlex-Light.ttf');
}

@font-face {
    font-family: EuclidFlex-SemiBold;
    src: url('../fonts/EuclidFlex-Bold/EuclidFlex-SemiBold.ttf');
}

:root {
    --text-color: #ffed00;
    --text-color1: #000;
    --text-color2: #e77241;
    --text-color2: #e77241;
    --text-color3: #000;
    --text-color4: #f0ece5;
    --bg-color: #ffed00;
    --bg-color1: #000;
    --bg-color2: #bc8463;
    --bg-color3: #dbc09b;
    --bg-color4: #f8f7f5;
    --bg-color5: #fdf4f0;
    --bg-color6: #000;
    --bg-color7: #f0ece5;
    --bg-color8: #f0ece5bd;
    --bg-color9: #ff7500;
    --bg-color10: #0188d0;
    --bg-color11: #d00162;
    --Swiss721LightBT: Swiss721LightBT;
    --Swiss721MediumBT: Swiss721MediumBT;
    --Swiss721CondensedBT: Swiss721CondensedBT;
    --FontsFree-Net-Swiss721BT-Roman: FontsFree-Net-Swiss721BT-Roman;
    --Swiss721BoldBT: Swiss721BoldBT;
    --SWZ721T: SWZ721T;
    --gradient: linear-gradient(122deg, rgba(199, 87, 40, 1) 0%, rgba(234, 117, 68, 1) 30%, rgba(250, 112, 54, 1) 58%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    /* background-color: var(--bg-color6); */

}

/* width */
::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bg-color);
    display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



.top {
    padding-top: 100px;
}

.bottom {
    padding-bottom: 100px;
}

p {
    letter-spacing: 0.5px;
}

.heading {
    font-size: 45px;
    color: #000;
    font-family: EuclidFlex-Light;
    letter-spacing: 1px;
}

.p-l-r {
    padding-left: 40px;
    padding-right: 40px;
}

.p-l-r-2 {
    padding-left: 100px;
    padding-right: 100px;
}

/* .App {
    height: 100%;
} */

.header-section {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu_right_section {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: end;
    padding: 0 10px;
}

.menu_right_section li button {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: none;
    margin-left: 8px;
    justify-content: center;
    border-radius: 50%;
}

.menu_right_section li button img {
    width: 80%;
}

.menu_right_section li:nth-child(1) button img {
    width: 70%;
}

.menu_right_section li:nth-child(2) button img {
    width: 65%;
}

.header-section .logo-section {
    position: relative;
}

.header-section .logo-section img {
    position: relative;
    width: 140px;
}

.toggle_menu {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
}

.right_memu {
    position: relative;
    width: 30px;
    cursor: pointer;
    margin-left: 10px;
}

.right_memu span {
    width: 30px;
    background-color: var(--bg-color);
    height: 2px;
    border-radius: 50px;
    display: block;
    transition: 0.5s;
}

.right_memu span:nth-child(2) {
    margin: 5px 0;
    width: 25px;
    transition: 0.5s;
}

.right_memu:hover span {
    width: 30px;
}

.right_memu:hover span:nth-child(2) {
    width: 30px;

}

.splash-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: url('../images/home-bg.png');
    background-repeat: no-repeat;
    background-position: top center;

}

.splash-screen .logo-section {
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash-screen .logo-section img {
    position: relative;
    width: 70%;
}

.loading_section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.home_section {
    transform: translateX(100%);
    position: relative;
    transition: 0.5s;
}

.splace_sc {
    position: relative;
    transition: 0.5s;
    top: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.home_section.active {
    transform: translateX(0%);
}

.splace_sc.active {
    transform: translateX(-100%);
}

.loading {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #000;
    margin-bottom: 15px;
    font-family: var(--Swiss721MediumBT);
}

.add {
    animation: animate .7s ease-in-out .1s;
}

@keyframes animate {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

.progress-bar-main {
    width: 300px;
    height: auto;
    background-color: transparent;
    border: 1px solid var(--bg-color10);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 4px;
    border-radius: 13px;
}

.progress-bar {
    width: 100%;
    height: 18px;
    /* background: var(--bg-color); */
    /* border-radius: 13px; */
    /* box-sizing: border-box; */
    position: relative;
    border-radius: 13px;
    overflow: hidden;

}

.progress {
    width: 100%;
    height: 16px;
    background: var(--bg-color10);

}

.percent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 23px;
}

.auth-section {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100vh;
    background: url('../images/home-bg.png');
    background-repeat: no-repeat;
    background-position: top center;

}

.auth-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 85%;
    position: relative;
    padding-top: 50px;
    /* background-color: var(--bg-color7); */
    border-top-left-radius: 50px;
}

/* .auth-login-form::after {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    width: 90%;
    height: 85%;
    background-color: var(--bg-color7);
    z-index: -1;
    border-top-left-radius: 50px;
} */

.auth-login-form .logo {
    width: 150px;
}

.auth-login-form form {
    width: 450px;
    padding: 0px 20px;
    /* background-color: #ffffff2b; */
    border-radius: 0;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-login-form form .mb-3 {
    width: 100%;
}

.auth-login-form form input {
    border-radius: 0 !important;
    outline: none !important;
    border: 1px solid var(--bg-color6) !important;
    background-color: transparent !important;
    padding: 10px 10px;
    color: var(--bg-color6);
    font-size: 14px;
    font-family: var(--Swiss721LightBT);
    border-radius: 10px !important;
}

.auth-login-form form input:focus {
    box-shadow: none !important;
}

.auth-login-form form input::placeholder {
    color: var(--bg-color6);
    font-size: 14px;
    font-family: var(--Swiss721LightBT);
}

.auth-login-form form button {
    width: 100%;
    margin-top: 20px;
    border: none;
    background-color: var(--bg-color6);
    color: #fff;
    padding: 10px 10px;
    font-family: var(--Swiss721LightBT);
    border-radius: 10px;
}

.auth-login-form form p {
    margin-bottom: 0;
    margin-top: 20px;
    color: var(--bg-color6) !important;
    font-family: var(--Swiss721LightBT);
    font-size: 10px;
    color: var(--bg-color4);

}

.auth-login-form form h6 {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: var(--Swiss721LightBT);
    color: var(--bg-color6);
    margin-top: 10px;
}

.auth-login-form form a {
    font-size: 13px;
    font-family: var(--Swiss721LightBT);
    color: var(--bg-color6);
    display: block;
    margin-left: 10px;
}

.auth-login-form h5 {
    font-size: 18px;
    font-family: var(--Swiss721MediumBT);
    color: var(--bg-color6);
}

.auth-login-form p {
    font-size: 14px;
    font-family: var(--Swiss721MediumBT);
    color: var(--bg-color6);
}

.home_page_section {
    height: 100vh;

}

.home-page {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: end;
    height: 85%;

}

.category-section {
    background-color: #fff;
    padding: 100px 80px;
    border-top-left-radius: 50px;
    width: 80%;
}

.category-section a {
    text-decoration: none;
    color: #000;

}


.category-section .card_box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s;
}

.category-section .card_box:active,
.category-section .card_box:hover,
.category-section .card_box:visited,
.category-section .card_box:focus {
    background-color: #ffc50c;
}

.category-section .card_box img {
    width: 60%;
}

.category-section .card_box h4 {
    font-size: 20px;
    font-family: var(--Swiss721MediumBT);
    color: #000;
}

.category-section .card_box:active .question_count h4,
.category-section .card_box:hover .question_count h4,
.category-section .card_box:visited .question_count h4,
.category-section .card_box:focus .question_count h4 {
    color: #000 !important;
}

.category-section .card_box:active .question_count span,
.category-section .card_box:hover .question_count span,
.category-section .card_box:visited .question_count span,
.category-section .card_box:focus .question_count span {
    color: #000 !important;
}

.play_now {
    display: block;

    width: 30%;
    margin: 40px auto 0;
}

.play_now a {
    background-color: #000;
    font-family: var(--Swiss721MediumBT);
    font-size: 20px;
    color: #fff;
    padding: 10px 40px;
    width: 100%;
    display: block;
    text-align: center;
    transition: 0.5s;
    border-radius: 10px;
}

.play_now a:hover {
    background-color: var(--bg-color);
    color: #000;
}

.quiz-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70%;
}

.Quiz_box {
    background-color: #262626;
    width: 80%;
    padding: 40px;
    border-radius: 20px;
    display: flex;
}

.Quiz_box .left_section {
    width: 50%;
}

.Quiz_box .right_section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Quiz_box .question {
    font-size: 20px;
    font-family: var(--Swiss721MediumBT);
    margin-bottom: 10px;
    color: #fff;
}

.Quiz_box .answer_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Quiz_box .answer_list button {
    width: fit-content;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px 10px 5px 0;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: var(--Swiss721MediumBT);
}

.Quiz_box .answer_list button:hover,
.Quiz_box .answer_list button:active {
    background-color: var(--bg-color9);
}

.Quiz_box .answer_list button span {
    position: relative;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6;
    border-radius: 50%;
    margin-right: 10px;
}

.Quiz_box .answer_list button span.active {
    border: 5px solid #000;
}

.button_group {
    display: flex;
    width: 100%;
    justify-content: center;
    width: 80%;
    margin-top: 30px;
}

.button_group button {
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--bg-color9);
    color: #fff;
}

.button_group button img {
    width: 60%;
}

.dashboard_section {
    margin-top: 3ch;
}

.dashboard_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.dashboard_section .list_item {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 11;
}

.dashboard_section .list_item li {
    width: 100%;
}

.dashboard_section .list_item li button {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    background-color: #262626;
    color: #fff;
    font-family: var(--Swiss721MediumBT);
}

.dashboard_section .list_item li:first-child button {
    border-top-left-radius: 0;
}

.dashboard_section .list_item li:first-child button.active {
    background-color: var(--bg-color9);
    color: #000;
}

.dash_board {
    width: 80%;
    background-color: var(--bg-color7);
    border-top-left-radius: 50px;
    padding: 20px;
}

.user_list {
    display: flex;
    flex-direction: column;

}

.list_item_box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: none;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5px;
}

.list_item_box p {
    margin-bottom: 0;
    font-size: 15px;
}

.list_item_box span {
    font-size: 13px;
}

.number_level {
    width: 20%;
    font-size: 20px;
    background-color: var(--bg-color3);
    padding: 10px;
    display: flex;
    align-items: center;
    height: 100%;

}

.user_profile {
    display: flex;
    align-items: center;
    width: 60%;
    padding: 10px;
    background-color: var(--bg-color2);
    height: 100%;
}

.user_profile img {
    width: 30px;
    height: 30px;
}

.level_box {
    height: 100%;
    width: 20%;
    background-color: var(--bg-color3);
    padding: 10px;
    line-height: 12px;
}

.prifile_content {
    padding: 10px;
    line-height: 13px;
}

.top_three_win {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
}

.lavel_user div {
    text-align: center;
    padding: 10px 0;
}

.lavel_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.lavel_user p {
    font-size: 20px;
    margin-bottom: 0;
    color: #fff;
}

.lavel_user h2,
.lavel_user h5 {
    color: var(--bg-color9);
}

.lavel_user span {
    font-size: 16px;
    margin-bottom: 15px;
    color: #fff;
}


.lavel_user .frame_img_box {
    width: 80px;
    height: 80px;
    position: relative;

}

.lavel_user .frame_img {
    width: 80px;
    height: 80px;
    position: relative;
}

.div_firs .user_img,
.div_first .user_img {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.frame_img {
    width: 100%;
    height: 100%;
}

.div_secont .user_img {
    position: absolute;
    top: 46%;
    left: 51%;
    transform: translate(-50%, -50%);
}


.div_secont img {
    width: 60px;
    height: 60px;
}

.div_secont .frame_img {
    width: 115px;
    height: 115px;
}

.div_secont .frame_img_box {
    width: 115px;
    height: 115px;
    position: relative;

}


.cat_title {
    font-family: var(--Swiss721MediumBT);
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
    color: var(--text-color);
}

.cat_header {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 85%;
}

.shine {
    -webkit-animation-name: shineAnimation;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.12, .89, .98, .47);
}

@keyframes shineAnimation {
    0% {
        background-repeat: no-repeat;
        background-image: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.0) 45%, rgba(255, 255, 255, 0.5) 48%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.5) 52%, rgba(255, 255, 255, 0.0) 57%, rgba(255, 255, 255, 0.0) 100%);
        background-position: -350px -350px;
        background-size: 500px 500px;
    }

    100% {
        background-repeat: no-repeat;
        background-position: 350px 350px;
    }
}

.leader_board {
    /* background-color: #fff; */
    width: 98%;
    border-top-left-radius: 20px;
    height: 100%;

}

.leader_board_header {
    position: relative;
    /* background-color: var(--bg-color10); */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    padding: 20px 10px;
    border-radius: 10px;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.leader_board_header ul {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.leader_board_header ul li {
    width: 100%;
    line-height: 22px;
    border-right: 1px solid #fff;
    text-align: center;
}

.leader_board_header ul li img {
    width: 20%;
    margin-bottom: 8px;
}

.leader_board_header ul li p {
    margin-bottom: 0;
    color: #fff;
    font-size: 20px;
    font-family: var(--Swiss721MediumBT);
}

.leader_board_header ul li span {
    color: #fff;
    font-size: 16px;
}

.leader_board_header ul li:last-child {
    border-right: none;
}

.inner_banner_section {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
}

.inner_banner_section img {
    width: 100%;
    border-radius: 20px;
}

.fiexd_user_profile {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 0 !important;
    z-index: 11;
    border-radius: 0 !important;
}

.fiexd_user_profile .list_item_box {
    border-radius: 0 !important;
    height: 70px !important;
}

.user_login_detail {
    position: relative;
    padding: 20px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user_profile_box {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    border: 4px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc50c;
}

.user_profile_box label {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -12px;
    top: 10px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #fff;
}



.user_profile_box img {
    width: 80%;
    height: 80%;

}

.user_profile_box label img {
    width: 60%;
}

.user_login_detail h6 {
    color: #000;
    font-family: var(--Swiss721MediumBT);
    font-size: 18px;
}

.user_login_detail h5 {
    color: #000;
    font-family: var(--Swiss721MediumBT);
    font-size: 25px;
    margin-bottom: 0;

}

.profile_picture {
    position: relative;
}

.profile_picture .picture_card {
    width: 100%;
    background-color: #ffc50c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 4px solid transparent;
    transition: 0.5s;
}

.profile_picture .picture_card:hover {
    border: 4px solid #000;
}



.profile_picture .picture_card img {
    width: 60%;
}

.cat_slide_box {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: scroll;
    padding: 30px 0 30px 30px;
}

.cat_slide_box .cat_box_ {
    width: 300px;
}

.cat_slide_box .cat_box_ img {
    width: 100%;
}

.cat_slide_box .cat_box_ a {
    text-decoration: none;
    color: #fff;

}

.cat_slide_box .cat_box_ .card_box h4 {
    margin: 20px 0 0;
    text-align: center;
    font-size: 16px;
    font-family: var(--FontsFree-Net-Swiss721BT-Roman);
}

.audio_box {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}
.question_section h3{
    font-size: 25px;
    margin-bottom: 15px;
}

.question_progress{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.question_progress h5{
    margin-bottom: 0;
    padding-left: 10px;
    font-size: 20px;
    
}
.question_progress_{
    width: 75%;
    height: 30px;
    border-radius: 50px;
    border: 2px solid var(--bg-color10);
}
.progress_line{
    width: 50%;
    height: 100%;
    background-color: var(--bg-color10);
    border-radius: 50px;
}

@media(max-width:576px) {
    .auth-login-form form {
        width: 100%;
        padding: 10px 20px 40px 25px;
    }

    .splash-screen {
        padding: 0 20px;
    }

    .auth-login-form {
        justify-content: start;
        padding-top: 100px;
    }

    .category-section {
        width: 90%;
        padding: 0px 10px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }

    .category_section {
        /* background-color: #000; */
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .category_section .card_box {
        background: var(--bg-color10);
        display: flex;
        justify-content: start !important;
        align-items: center !important;
        flex-direction: row;
        padding: 15px !important;
        margin: 10px 0;
        border-radius: 10px;
    }

    .category_section .card_box img {
        width: 60px !important;
        margin-right: 8px !important;
    }

    .question_count {
        /* line-height: 20px; */
    }

    .question_count h4 {
        color: #fff !important;
        margin-bottom: 0 !important;
    }

    .question_count span {
        font-size: 14px;
        color: #fff;
    }

    .leader_board .category-section {
        width: 100%;
        background-color: transparent;
        margin-top: 20px;
        /* background: url('../images/bg-b.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 40%; */

    }

    .home_page_section {
        height: 100%;
    }

    .home-page {
        height: fit-content;
        margin-top: 0;
        justify-content: center;
        flex-direction: column;
    }

    .home_page_section .header-section {
        height: 10%;
    }

    .category-section .card_box img {
        width: 50%;
    }

    .play_now {
        width: 80%;
        margin: 20px auto 0;
    }

    .p-l-r {
        padding-left: 20px;
        padding-right: 20px;
    }

    #root {
        height: 100%;
    }

    .auth-login-form {
        height: 85%;
        width: 98%;
    }

    .auth-login-form .logo {
        width: 160px;
        margin-bottom: 20px;
    }

    .splash-screen .logo-section {
        position: relative;
        width: 250px;
    }

    .category-section .card_box h4 {
        margin: 8px 0;
        text-align: left;
        font-size: 15px;
        font-family: var(--FontsFree-Net-Swiss721BT-Roman);
    }

    .quiz-page {
        height: auto;
        margin-top: 20px;
    }

    .Quiz_box {
        flex-direction: column;
        width: 98%;
        padding: 20px 20px;
        border-radius: 0;
        background-color: transparent;
    }

    .Quiz_box .left_section,
    .Quiz_box .right_section {
        width: 100%;
    }

    .quize_main_box {
        display: flex;
        flex-direction: column;
    }

    .quize_main_box .right_section {
        order: 1;
    }

    .quize_main_box .right_section img {
        width: 100%;
    }

    .quize_main_box .left_section {
        order: 2;
        padding-top: 20px;
    }

    .quize_main_box .left_section .question_box {}

    .question_img {
        height: 250px;
    }

    .quize_main_box .left_section .question_box img {
        height: 100%;
        width: 100%;
    }

    .quize_main_box .left_section .question_box .question_ {
        margin-top: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .button_group {
        justify-content: center;
        width: 100%;
        margin-top: 30px;
        padding: 0 20px;
    }

    .button_group button {
        padding: 15px 20px;
        font-family: var(--Swiss721MediumBT);
        font-size: 16px;
        border-radius: 10px;
    }

    .dash_board {
        width: 100%;
        background: #000;
        padding: 20px 10px;
    }

    .number_level {
        font-size: 20px;
        justify-content: center;
    }

    .list_item_box p {
        margin-bottom: 0;
        font-size: 12px;
    }

    .list_item_box span {
        font-size: 11px;
    }

    .lavel_user p {
        font-size: 14px;
        margin-bottom: 0;
    }

    .lavel_user span {
        font-size: 13px;
        margin-bottom: 10px;
        display: block;
    }

    .lavel_user img {
        width: 30px;
    }

    .div_secont img {
        width: 55px;
        height: 55px;
    }

    .lavel_user {
        padding: 0 10px;
    }

    .top_three_win {
        padding: 10px 0;
    }

    .lavel_user div {
        text-align: center;
        padding: 10px 0px;
        margin-bottom: 14px;
        line-height: 14px;
    }

    .lavel_user .frame_img_box {
        height: auto;
    }

    .lavel_user p {
        font-size: 13px;
        margin-bottom: 2px;
        margin-top: 2px;
    }

    .div_secont .frame_img_box {
        width: 100px;
        height: auto;
        position: relative;
    }

    .div_secont .user_img {
        position: absolute;
        top: 38%;
        left: 58%;
        transform: translate(-50%, -50%);
    }

    .user_list {
        display: flex;
        flex-direction: column;
        background: #262626;
        padding: 10px;
        border-radius: 10px;
    }

    .div_firs .user_img,
    .div_first .user_img {
        top: 40%;
    }

    .category-section .card_box {
        padding: 0;
    }

    .cat_header {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 90%;
        padding-top: 20px;
    }

    .cat_title {
        font-size: 20px;
        color: var(--bg-color9);
        text-align: center;
        margin-bottom: 30px;

    }

    .quiz_home_page_section {
        height: 100vh !important;
    }

    .leader_board_header ul li {
        line-height: 24px;
    }

    .leader_board_header ul li p {
        font-size: 16px;
    }

    .leader_board_header ul li span {
        font-size: 22px;
        font-weight: 700;
    }

    .header-section {
        padding-left: 0;
        padding-right: 0;
    }

    .header-section .logo-section img {
        position: relative;
        width: 80px;
    }

    .leader_board .category-section .card_box {
        padding: 15px 0;
    }

    .leader_board .category-section .card_box h4 {
        color: #000;
    }

    .leader_board .category-section .card_box img {
        width: 30%;
    }

    .leader_board .category-section .play_now a {
        background-color: var(--bg-color11) !important;
    }

    .prifile_content p {
        color: #fff;
        font-size: 16px;
    }

    .prifile_content span {
        color: #fff;
        /* font-size: 16px; */
    }

    .picture_img {
        background-color: #fff;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .fiexd_user_profile .list_item_box .user_profile img {
        width: 40px;
        height: 40px;
    }

    .fiexd_user_profile .list_item_box .picture_img {
        width: 60px;
        height: 60px;
    }

    .fiexd_user_profile .list_item_box .prifile_content {
        line-height: 22px !important;
    }

    .fiexd_user_profile .list_item_box .user_profile {
        background-color: var(--bg-color9) !important;
    }

    .fiexd_user_profile .list_item_box .prifile_content p,
    .fiexd_user_profile .list_item_box .level_box p {
        font-size: 14px !important;
    }

    .fiexd_user_profile .list_item_box .prifile_content span,
    .fiexd_user_profile .list_item_box .level_box span {
        font-size: 13px !important;
    }

    .fiexd_user_profile .list_item_box .level_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 22px !important;
    }

    .fiexd_user_profile .list_item_box .number_level {
        font-size: 35px;
        justify-content: center;
    }

    .profile_picture_setting {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .profile_picture {
        /* background-color: #000; */
        padding: 40px 30px;
        margin-top: 0;
        width: 100%;
        border-top-left-radius: 40px;
    }

    .profile_picture .picture_card {
        width: 80px;
        height: 80px;
        margin: 10px auto;
        border-radius: 50%;
        background-color: #ffc50c;
        margin: 5px;
    }

    .total_question {

        width: 100%;
        display: flex;
        justify-content: end;
        padding-left: 10px;
        padding-bottom: 15px;
        padding-right: 10px;
    }

    .total_question h5 {
        color: var(--bg-color9);
        font-family: var(--Swiss721MediumBT);
        font-size: 22px;
        text-align: left;
    }

    .Quiz_box .question {
        text-align: center;
        color: #000;
    }

    .Quiz_box .answer_list button {
        text-align: center;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background: #f7eeee;
        margin: 5px 0;


    }

    .Quiz_box .answer_list button span {
        display: none;
    }

    .content_page_design {
        position: relative;
        color: #fff;
        padding: 20px 30px;
    }

    .content_page_design h4 {
        font-family: var(--Swiss721MediumBT);
        font-size: 22px;
    }

    .content_page_design h5 {
        font-family: var(--Swiss721MediumBT);
        font-size: 18px;
    }

    .content_page_design p {
        font-size: 16px;
        font-family: var(--Swiss721LightBT);
    }

    .winning_page {
        background-color: #262626;
        height: 100vh;

        padding: 50px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .winning_page img {
        width: 50%;
        margin-bottom: 40px;
        animation: zoom 0.6s infinite ease-in-out;
    }

    @keyframes zoom {

        0%,
        100% {
            transform: scale(1);
        }

        50% {
            transform: scale(0.9);
        }
    }

    .winning_page .leader_board_header {
        width: 100%;
        margin-top: 30px;
    }

    .winning_page h2 {
        font-size: 40px;
        font-family: var(--Swiss721MediumBT);
        margin: 20px 0;
        color: #fff;
    }

    .winning_page h5 {
        font-size: 20px;
        font-family: var(--Swiss721MediumBT);
        color: #fff;
    }

    .winning_page .play_now {
        width: 100%;
        margin-top: 40px;

    }

    .winning_page .play_now a {
        background-color: var(--bg-color9) !important;
        text-decoration: none;
    }

    .cat_slide_box {
        padding: 40px 0 10px 10px;
    }

    .cat_slide_box .cat_box_ a .card_box {
        width: 100px;
        margin-right: 10px;
        /* background-color: #262626; */
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }

    .cat_slide_box .cat_box_ a .card_box .question_count {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .cat_slide_box .cat_box_ a .card_box h4 {
        font-size: 16px;
        color: #000 !important;
    }

    .cat_slide_box .cat_box_ img {
        width: 60px;
        height: 60px;
        object-fit: cover;
    }

    .cat_slide_box .cat_box_ a {
        text-decoration: none;
        color: #fff;

    }

    .cat_slide_box .cat_box_ .card_box {
        align-items: start;
    }

    .cat_slide_box .cat_box_ .card_box h4 {
        margin: 8px 0 0;
        text-align: left;
        font-size: 16px;
        font-family: var(--FontsFree-Net-Swiss721BT-Roman);
    }

    .cat_header_1 {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        padding-top: 20px;
        padding: 20px 0 30px 10px;
        width: 100%;
    }

    .cat_title_new {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000;
        font-size: 18px;
        font-family: var(--Swiss721MediumBT);

    }

    .cat_title_new img {
        width: 30px;
        margin-right: 10px;
    }

    .category_section .play_now a {
        background-color: var(--bg-color9) !important;
    }

    .category_section_1 {
        margin-top: 0 !important;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .leader_board {
        padding: 0 10px;
        width: 100%;
    }

    .category_section_1 .play_now {
        width: 100%;
        margin: 0px auto 25px !important;
    }

    .inner_banner_section {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }

    .cat_title_new_1 {
        padding-left: 10px;
    }
}



@media(max-width:375px) {
    .auth-login-form .logo {
        width: 150px;
    }
}